<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.food.feasta.foodfeasta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LoginScreenActivity"
            android:label="@string/title_activity_setup"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".restaurant.customer.activity.LandingPageActivityCustomer"
            android:label="@string/title_activity_landing_page_customer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".restaurant.customer.activity.DetailViewActivity"
            android:label="@string/title_activity_detail_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".restaurant.customer.activity.OrderCartActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".database.TableOrderContentProvider"
            android:authorities="com.udacity.food.feasta.foodfeasta.database" />

        <activity
            android:name=".restaurant.manager.activity.LandingPageActivityManager"
            android:label="@string/title_activity_landing_page_manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".ui.MenuWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/menu_widget_provider" />
        </receiver>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyD7FaDj2gwAeg0R31T0ueieJ7YbgYikw_M" />

    </application>

</manifest>